.advantages {
  text-align: center;
  padding: 28px 0 37px;
}

.advantages-title {
  margin-bottom: 3px;
  color: #4b4b4b;
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: -0.5px;
}

.advantages-desc {
  margin-bottom: 29px;
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
}

.advantages-card {
  display: flex;
  width: 250px;
  margin: 0 auto 40px;
}

.advantages-card:last-child {
  margin-bottom: 37px;
}

.advantages-card i {
  font-size: 27px;
  margin-right: 15px;
}

.advantages-card div {
  text-align: start;
}

.advantages-card div h3 {
  margin-bottom: 8px;
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333;
  letter-spacing: 0.8px;
}

.advantages-card div p {
  color: #4b4b4b;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.4545;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 42px 0 40px;
  }

  .advantages-title {
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.8px;
  }

  .advantages-desc {
    margin-bottom: 49px;
  }

  .advantages-card {
    width: 270px;
  }
}

@media screen and (min-width: 992px) {
  .advantages {
    padding: 80px 0 59px;
  }

  .advantages-title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 1.0909;
    letter-spacing: -1.6px;
  }

  .advantages-desc {
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 1.6666;
    letter-spacing: 1px;
  }

  .advantages-card {
    width: 320px;
  }

  .advantages-card div p {
    font-size: 16px;
    line-height: 1.5;
  }
}
