.contact {
  padding: 45px 0 30px;
}

.contact-title {
  text-align: center;
  margin-bottom: 30px;
  color: #4b4b4b;
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: -0.5px;
}

.contact-group {
  width: 250px;
  margin: 0 auto;
}

.contact-form {
  margin-bottom: 46px;
}

.contact-info {
  display: flex;
  margin-bottom: 13px;
}

.contact-name {
  margin-right: 6px;
}

.contact-label {
  margin-bottom: 6px;
  color: #4b4b4b;
  font-size: 11px;
  line-height: 1.309;
  letter-spacing: 0.11px;
}

.contact-name input,
.contact-email input,
.contact-message textarea {
  border: 0.5333px solid #999999;
  border-radius: 2px;
  opacity: 0.8;
}

.contact-name input,
.contact-email input {
  width: 108px;
  height: 24px;
  padding-left: 5px;
  color: #4b4b4b;
}

#contact__name,
#contact__email {
  font-size: 11px;
  line-height: 1.2572;
  letter-spacing: 0.11px;
}

.contact-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.contact-message textarea {
  max-width: 224px;
  width: 100%;
  height: 63px;
}

.contact-form button {
  display: block;
  text-align: center;
  width: 112px;
  height: 25px;
  margin: 0 auto;
  border: none;
  border-radius: 26px;
  background-color: #ebcb80;
  font-size: 10px;
  line-height: 1.04;
  letter-spacing: 0.53px;
}

.contact-address {
  margin-bottom: 24px;
}

.contact-address h3 {
  margin-bottom: 11px;
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
}

.contact-address-info {
  display: flex;
  margin-bottom: 18px;
}

.contact-address-info:last-child {
  margin-bottom: 0;
}

.contact-address-info div {
  margin-right: 11px;
}

.contact-address-info i {
  width: 17px;
  font-size: 17px;
}

.contact-address-info p {
  color: #4b4b4b;
  font-size: 11px;
  line-height: 1.4545;
}

.contact-address-info:last-child p br {
  display: none;
}

.contact-credits {
  margin-bottom: 11px;
}

.contact-credits h3,
.contact-follow h3 {
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
}

.contact-credits h3 {
  margin-bottom: 13px;
}

.contact-credits p {
  font-size: 11px;
  line-height: 1.4545;
}

.contact-follow h3 {
  margin-bottom: 9px;
}

.contact-follow i {
  margin-right: 18px;
  font-size: 13px;
}

.contact-follow i:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 49px 0 68px;
  }

  .contact-title {
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.8px;
  }

  .contact-group {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
  }

  .contact-form {
    margin-bottom: 0;
  }

  .contact-message textarea {
    width: 100%;
  }

  .contact-address {
    margin-bottom: 0;
  }

  .contact-address h3 {
    margin-bottom: 13px;
  }

  .contact-address-info {
    margin-bottom: 15px;
  }

  .contact-address-info i {
    margin-right: 16px;
  }

  .contact-address-info p {
    width: 124px;
  }

  .contact-address-info:last-child p br {
    display: block;
  }

  .contact-other {
    width: 24.5%;
  }

  .contact-credits {
    max-width: 220px;
    width: 100%;
  }

  .contact-credits p {
    max-width: 220px;
    width: 100%;
  }

  .contact-follow {
    width: 130px;
  }

  .contact-follow i {
    margin-bottom: 13px;
  }

  .contact-follow i:nth-child(5),
  .contact-follow i:nth-child(6),
  .contact-follow i:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .contact {
    padding: 92px 0 81px;
  }

  .contact-title {
    margin-bottom: 65px;
    font-size: 44px;
    line-height: 1.0909;
    letter-spacing: -1.6px;
  }

  .contact-form {
    width: 40%;
    margin-right: 10%;
    padding: 39px 5% 43px;
    border: 2.13333px solid #e6e6e6;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  }

  .contact-info {
    margin-bottom: 16px;
  }

  .contact-name,
  .contact-email {
    width: 100%;
  }

  .contact-name {
    margin-right: 12px;
  }

  .contact-label {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.18px;
  }

  .contact-name input,
  .contact-email input {
    width: 100%;
    height: 36px;
  }

  #contact__name,
  #contact__email {
    font-size: 14px;
    line-height: 1.2571;
    letter-spacing: 0.14px;
  }

  .contact-message {
    width: 100%;
    margin-bottom: 24px;
  }

  .contact-message textarea {
    max-width: 420px;
    width: 100%;
    height: 120px;
  }

  .contact-form button {
    width: 210px;
    height: 48px;
    font-size: 16px;
    line-height: 1.2187;
    letter-spacing: 1px;
  }

  .contact-address {
    width: 24.5%;
    margin-right: 1%;
  }

  .contact-address h3 {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 1.6666;
    letter-spacing: 1px;
  }

  .contact-address-info {
    margin-bottom: 23px;
  }

  .contact-address-info i {
    margin-top: 5px;
    margin-right: 10px;
  }

  .contact-address-info p {
    max-width: 234px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
  }

  .contact-other {
    width: 24.5%;
  }

  .contact-credits {
    max-width: 263px;
    width: 100%;
    margin-bottom: 50px;
  }

  .contact-credits h3,
  .contact-follow h3 {
    font-size: 18px;
    line-height: 1.6666;
    letter-spacing: 1px;
  }

  .contact-credits h3 {
    margin-bottom: 16px;
  }

  .contact-credits p {
    max-width: 263px;
    font-size: 16px;
    line-height: 1.5;
  }

  .contact-follow {
    width: 200px;
  }

  .contact-follow h3 {
    margin-bottom: 29px;
  }

  .contact-follow i {
    margin-bottom: 25px;
    margin-right: 33px;
    font-size: 25px;
  }
}
