.pricing {
  text-align: center;
  padding: 52px 0 40px;
}

.pricing .title {
  margin-bottom: 33px;
  color: #4b4b4b;
}

.pricing-slider {
  margin-bottom: 40px;
}

.pricing-card {
  display: none;
  width: 191px;
  height: 248px;
  margin: 0 auto;
  padding: 30px 0 28px;
  border-radius: 8px;
}

.pricing-card .select {
  display: block;
}

.pricing-card:first-child {
  background: linear-gradient(#707070, #4b4b4b);
  color: #fff;
}

.pricing-card:nth-child(2) {
  background: linear-gradient(#f4df9e, #ebcc81);
  color: #4b4b4b;
}

.pricing-card:last-child {
  background: linear-gradient(#494949, #2e2e2e);
  color: #fff;
}

.pricing-price {
  font-size: 11px;
  line-height: 1.219;
}

.pricing-price strong {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3333;
  letter-spacing: -1.2px;
}

.pricing-year {
  margin-bottom: 7px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.pricing-desc {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 2.1818;
}

.pricing-btn {
  width: 140px;
  height: 32px;
  border: none;
  border-radius: 50px;
  font-size: 11px;
  line-height: 1.219;
  letter-spacing: 0.8px;
}

.pricing-card:first-child .pricing-btn,
.pricing-card:last-child .pricing-btn {
  color: #4b4b4b;
  background-color: #ebcb80;
}

.pricing-card:nth-child(2) .pricing-btn {
  color: #fff;
  background-color: #4b4b4b;
}

.select-btn {
  width: 80px;
  height: 24px;
  margin-right: 22px;
  border: none;
  border-radius: 48px;
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333;
  letter-spacing: 0.8px;
}

.select-btn:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .pricing {
    padding: 56px 0 80px;
  }

  .pricing .title {
    margin-bottom: 33px;
  }

  .pricing-slider {
    display: flex;
    justify-content: center;

    margin-bottom: 0px;
  }

  .pricing-card {
    display: block;
    width: 170px;
    height: 280px;
    margin: 0;
    margin-right: 43px;
    padding: 45px 0 32px;
  }

  .pricing-card:last-child {
    margin-right: 0;
  }

  .pricing-price strong {
    letter-spacing: -1.3px;
  }

  .pricing-year {
    letter-spacing: 0.67px;
  }

  .pricing-desc {
    margin-bottom: 16px;
  }

  .pricing-btn {
    width: 120px;
    height: 40px;
    letter-spacing: 0.69px;
  }

  .select-btn {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .pricing {
    padding: 68px 0 116px;
  }

  .pricing .title {
    margin-bottom: 52px;
  }

  .pricing-card {
    width: 270px;
    height: 396px;
    margin-right: 68px;
    padding: 72px 0 36px;
  }

  .pricing-price {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.2083;
  }

  .pricing-price strong {
    font-size: 64px;
    line-height: 0.75;
    letter-spacing: -2.6px;
  }

  .pricing-year {
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .pricing-desc {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
  }

  .pricing-btn {
    width: 198px;
    height: 48px;
    font-size: 16px;
    line-height: 1.2187;
    letter-spacing: 1px;
  }
}
