.testimonials {
  text-align: center;
  padding: 40px 0 56px;
}

.testimonials-btn__prev,
.testimonials-btn__next {
  display: none;
}

.testimonials-slider {
  height: 238px;
  margin-bottom: 20px;
}

.testimonials-card {
  display: none;
  width: 240px;
  margin: 0 auto;
}

.testimonials-card.active {
  display: block;
}

.testimonials-card img {
  width: 92px;
  height: 92px;
  margin-bottom: 8px;
  border: 2px solid #ebcb80;
  border-radius: 50%;
}

.testimonials-person {
  margin-bottom: 16px;
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333;
}

.testimonials-blockquote {
  color: #4b4b4b;
  font-size: 11px;
  line-height: 1.4545;
}

.indicator {
  width: 8px;
  height: 16px;
  margin-right: 23px;
  border: 2px solid #4b4b4b;
  border-radius: 50%;
}

.indicator:last-child {
  margin-right: 0px;
}

.indicator:hover,
.indicator.active {
  background-color: #4b4b4b;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding: 64px 0 56px;
  }

  .testimonials-slider {
    height: 202px;
  }

  .testimonials-card {
    width: 470px;
  }
  .testimonials-card img {
    width: 112px;
    height: 112px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 992px) {
  .testimonials {
    position: relative;
    padding: 96px 0 83px;
  }

  .testimonials-btn__prev,
  .testimonials-btn__next {
    display: block;
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    background: none;
    font-size: 30px;
  }

  .testimonials-btn__prev {
    left: 15%;
  }

  .testimonials-btn__next {
    right: 15%;
  }

  .testimonials-btn__prev i,
  .testimonials-btn__next i {
    opacity: 0.7;
  }

  .testimonials-slider {
    height: auto;
    margin-bottom: 53px;
  }

  .testimonials-card {
    display: none;
    width: 555px;
    height: 354px;
    transform: none;
  }

  .testimonials-card img {
    width: 180px;
    height: 180px;
    margin-bottom: 28px;
  }

  .testimonials-person {
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 1.5;
  }

  .testimonials-blockquote {
    font-size: 16px;
    line-height: 1.5;
  }
}
