* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

/* Utilities */
.title {
  font-size: 20px;
  font-weight: 700;
}

.pricing .title,
.projects .title,
.advantages .title,
.cta .title,
.contact .title,
.team .title {
  line-height: 2;
  letter-spacing: -0.5px;
}

.opacity-btn:hover {
  opacity: 0.5;
}

.opacity-btn.inverted:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }

  .pricing .title,
  .projects .title,
  .advantages .title,
  .cta .title,
  .contact .title,
  .team .title {
    line-height: 1.25;
    letter-spacing: -0.8px;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 44px;
  }

  .pricing .title,
  .projects .title,
  .advantages .title,
  .cta .title,
  .contact .title,
  .team .title {
    line-height: 1.0909;
    letter-spacing: -1.6px;
  }
}
