.landing {
  padding-top: 88px;
  text-align: center;
}

.landing .title {
  margin-bottom: 35px;
  color: #fff;
  line-height: 1.2;
}

.video-player {
  position: relative;
}

.video-player video {
  width: auto;
  height: 140px;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background: none;
  background-color: #f6f6f6;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.video-btn i {
  color: #4b4b4b;
  font-size: 20px;
  transform: translateX(5%);
}

@media screen and (min-width: 768px) {
  .landing {
    padding-top: 74px;
  }

  .landing .title {
    margin-bottom: 34px;
    line-height: 1.125;
  }

  .video-player video {
    height: 201px;
  }
}

@media screen and (min-width: 992px) {
  .landing {
    padding-top: 72px;
  }

  .landing .title {
    margin-bottom: 53px;
    line-height: 1.0909;
    letter-spacing: -1.6px;
  }

  .video-btn {
    width: 72px;
    height: 72px;
  }

  .video-player video {
    height: 324px;
  }

  .video-btn i {
    font-size: 25px;
  }
}
