.team {
  text-align: center;
  padding: 21px 0 44px;
}

.team .title {
  margin-bottom: 19px;
  color: #4b4b4b;
}

.team-card {
  width: 192px;
  margin: 0 auto 22px;
}

.team-card:last-child {
  margin-bottom: 0;
}

.team-image {
  text-align: center;
}

.team-image img {
  width: 192px;
  height: 262px;
  margin-bottom: 8px;
}

.team-name {
  display: block;
  margin-bottom: 20px;
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 700;
  list-style: 2;
}

.team-desc {
  color: #4b4b4b;
  font-size: 11px;
  line-height: 1.4545;
}

@media screen and (min-width: 768px) {
  .team {
    padding: 39px 0 74px;
  }

  .team .title {
    margin-bottom: 11px;
  }

  .team-group {
    display: flex;
  }

  .team-card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .team {
    padding: 67px 0 177px;
  }

  .team .title {
    margin-bottom: 52px;
  }

  .team-card {
    width: 360px;
    margin-right: 2%;
  }

  .team-card:last-child {
    margin-right: 0;
  }

  .team-image img {
    display: block;
    max-width: 360px;
    width: 100%;
    height: 492px;
    margin-bottom: 40px;
  }

  .team-name {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.6666;
  }

  .team-desc {
    font-size: 16px;
    line-height: 1.5;
  }
}
